{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">
        <h2> Bienvenue sur Sortir.com</h2>
    </div>

{% endblock %}
