.buttonUserForm{
    text-align: center;
    margin-top: 2em;
}

.buttonUserDetails{

    margin: auto;
}

body{
    background: url("../img/background.jpg") center fixed;
}

.table{
    width: 100px;
    height: 100px;
    margin: auto;
}

h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pageLogin{
    padding-top: 100px !important;
}

.slogan{
    padding: 20px;
    background-color: black;
    color: white;
}

.connexion{
    padding: 20px;
    border: 1px solid #e3e3e3;
    background-color: white;
}
