{% extends 'base.html.twig' %}

{% block title %}Gérer les lieux{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(lieuForm) }}

        {{ form_widget(lieuForm) }}

        {{ form_end(lieuForm) }}
    </div>
    <div>
        <a class="btn btn-primary" href="{{ path('adminListeLieux') }}" role="button">Annuler</a>
    </div>

{% endblock %}